body{
    margin:0 0 0 0;
    padding:0 0 0 0;
    width:auto;
    height:auto;
	color:#FFF;
}
#cuerpo{
    position:relative;
    width:1024px;
    min-height:900px;
    margin:15px auto 15px auto;
    
    background-color:rgba(0,0,0,0.5);
    
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
}
#header{
    position:absolute;
    margin: 15px auto auto 0;
    width:1024px;
    height:230px;
    background-color:blue;
}

#logo{
	position:absolute;
    margin: 15px auto auto 0;
    width:200px;
    height:200px;
    background-color:red;
}
#membrete{
	position:absolute;
    margin: 15px auto auto 250px;
    width:200px;
    height:200px;
    background-color:yellow;
}

#footer{
	position:absolute;
    margin: auto auto 0 12px;
    width:1000px;
    height:50px;
    background-color:yellow;
    bottom:5px;
}